<html>
    <body>
        <button type="button" class="button-link" onclick="history.back()">Voltar</button>
        <h3>Formulário de Pedidos</h3>

        <form method="post">
            {% csrf_token %}
            {{ formulario.as_p }}
            <button type="submit">Salvar</button>
            <button type="button" class="button-link" onclick="history.back()">Cancelar</button>
        </form>

        
        
        <h3>
            Lista De Pedidos:
        </h3>
        <ul>
            {% for x in pedidos %}
                <li> {{ x.sabor }} - {{ x.tamanho}} - {{ x.pedido }} - $ {{ x.preco }} </li>
            {% endfor %}
        </ul>

        
    </body>
</html>