{% extends 'base.html' %}
{% load static %}
{% block title %}Lista de Produtos{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Loja de Produtos</h1>
<div class="text-end mb-3">
    <a href="{% url 'criar_produto' %}" class="btn btn-primary">Adicionar Novo Produto</a>
</div>

<div class="row">
    {% for produto in produtos %}
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            <img src="{{ produto.foto.url }}" class="card-img-top img-fluid" alt="{{ produto.nome_produto }}">
            <div class="card-body">
                <h5 class="card-title">{{ produto.nome_produto }}</h5>
                <p class="card-text">{{ produto.descricao|truncatechars:100 }}</p>
                <p class="card-text text-success">Preço: R$ {{ produto.preco }}</p>
                <div class="d-flex justify-content-between mt-3">
                    <a href="{% url 'detalhe_produto' produto.id %}" class="btn btn-outline-primary btn-sm">Ver Detalhes</a>
                    <a href="{% url 'editar_produto' produto.id %}" class="btn btn-outline-secondary btn-sm">Editar</a>
                    <a href="{% url 'deletar_produto' produto.id %}" class="btn btn-outline-danger btn-sm">Deletar</a>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12">
        <p class="text-center">Nenhum produto disponível.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
