{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <!-- Cabeçalho -->
    <div class="row mb-3">
        <div class="col-md-12 text-center">
            <h1>Todos os Produtos</h1>
        </div>
    </div>

    <!-- Seção de Produtos -->
    <div class="row mb-3">
        <div class="col-md-12">
            <h2>Lista de Produtos</h2>
        </div>
    </div>

    <!-- Tabela de Produtos -->
    <div class="row">
        {% for produto in object_list %}
        <div class="col-md-4 mb-3">
            <div class="card">
                {% if produto.img_produto %}
                    <img src="{{ produto.img_produto.url }}" class="card-img-top" alt="{{ produto.nome_produto }}" style="height: 200px; object-fit: cover;">
           
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ produto.nome_produto }}</h5>
                    <p class="card-text">Preço: R$ {{ produto.valorComDesconto }}</p>
                    <a href="{% url 'detalhes_produto' produto.pk %}" class="btn btn-primary">Ver Detalhes</a>
                    <a href="{% url 'adicionar_ao_carrinho' produto.pk %}" class="btn btn-success">Adicionar ao Carrinho</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">Nenhum produto disponível no momento.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
