{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Detalhes da Disciplina</h1>
    <table class="table table-bordered">
        <tr>
            <th>Nome:</th>
            <td>{{ disciplina.nome }}</td>
        </tr>
        <tr>
            <th>Professor:</th>
            <td>{{ disciplina.professor.nome }}</td>
        </tr>
    </table>
    <a href="{% url 'listar_disciplinas' %}" class="btn btn-primary">Voltar</a>
    <a href="{% url 'atualizar_disciplina' disciplina_id=disciplina.id %}" class="btn btn-warning">Editar</a>
    <a href="{% url 'excluir_disciplina' disciplina_id=disciplina.id %}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir esta disciplina?');">Excluir</a>
</div>
{% endblock %}
