{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <body>
        <p>
            Esta é a Cadastro
        </p>
        <ul>
            {% for cadastro in produtos %}
                <li>{{ cadastro.nome }} {{ cadastro.email}} {{ cadastro.senha}} {{ cadastro.sexo}} <img src="{{cadastro.foto.url}}" height=60></li>
            {% endfor %}
        </ul>

	<a href="{% url 'pagina_inicial' %}">
        <button type="button">Página inicial</button>
    </a>
    </body>
</html>