{% extends 'base.html' %}

{% block title %}Detalhe do Aluno{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title mb-4">Detalhes do Aluno</h2>
                    <p><strong>Nome:</strong> <span class="font-weight-bold">{{ aluno.nome }}</span></p>
                    <p><strong>Estado:</strong> {{ aluno.estado }}</p>
                    <p><strong>Cidade:</strong> {{ aluno.cidade }}</p>
                    
                    <!-- Exibição da Foto do Aluno -->
                    {% if aluno.foto %}
                        <div class="mb-3">
                            <img src="{{ aluno.foto.url }}" alt="Foto do Aluno" class="img-fluid" style="max-height: 100px; object-fit: cover;">
                        </div>
                    {% else %}
                        <p>Sem foto disponível</p>
                    {% endif %}
                    
                    <a href="{% url 'lista_alunos' %}" class="btn btn-primary">Voltar para a lista de alunos</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
