{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-4">
        <!-- Informações do Usuário ocupando 2 colunas -->
        <div class="col-md-2">
            {% if user.is_authenticated %}
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    {% if profile_picture %}
                        <img src="{{ profile_picture }}" alt="Profile Picture" class="img-fluid rounded-circle" style="width: 100px; height: 100px;">
                    {% else %}
                        <img src="{% static 'imagens/perfil.png' %}" alt="Default Profile Picture" class="img-fluid rounded-circle" style="width: 100px; height: 100px;">
                    {% endif %}
                    
                </div>
            </div>
            {% else %}
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Você não está logado.</h5>
                        <a href="{% url 'login' %}" class="btn btn-primary mt-3">Entrar</a> <!-- Link para login -->
                    </div>
                </div>
            {% endif %}
        
            
        </div>

        <!-- Últimas postagens ocupando 10 colunas -->
        <div class="col-md-8">
            <h2>Últimas Postagens</h2>
            <div class="row">
                {% for post in ultimas_postagens %}
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.titulo }}</h5>
                                <p class="card-text">{{ post.conteudo|truncatewords:20 }}</p>
                                <a href="{% url 'detalhes_postagem' post.id %}" class="btn btn-primary">Leia mais</a>
                            </div>
                            <div class="card-footer text-muted">
                                Publicado em {{ post.data_criacao }} | Curtidas: {{ post.curtidas }}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12">
                        <p>Nenhuma postagem disponível.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
