{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h2>{% if form.instance.pk %}Editar Pizza{% else %}Adicionar Pizza{% endif %}</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.tamanho.label_tag }}
                    {{ form.tamanho|add_class:"form-select" }}
                </div>
                <div class="mb-3">
                    {{ form.sabor.label_tag }}
                    {{ form.sabor|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                    {{ form.valor.label_tag }}
                    {{ form.valor|add_class:"form-control" }}
                </div>
                <div class="mb-3">
                    {{ form.imagem.label_tag }}
                    {{ form.imagem|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="{% url 'pizza_list' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
{% endblock %}
