{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1>Cadastro de Produto</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.img_produto.label_tag }}
                {{ form.img_produto }}
                <img id="image-preview" src="#" alt="Pré-visualização da Imagem" style="display: none; margin-top: 10px; max-width: 25%; height: auto;">
            </div>
            <div class="form-group">
                {{ form.nome_produto.label_tag }}
                {{ form.nome_produto }}
            </div>
            <div class="form-group">
                {{ form.descricao.label_tag }}
                {{ form.descricao }}
            </div>
            <div class="form-group">
                {{ form.valorComDesconto.label_tag }}
                {{ form.valorComDesconto }}
            </div>
            <div class="form-group">
                {{ form.valorSemDesconto.label_tag }}
                {{ form.valorSemDesconto }}
            </div>
           
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>

    <!-- Scripts do Bootstrap e JS para pré-visualização da imagem -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.getElementById('id_img_produto').addEventListener('change', function(event) {
            const input = event.target;
            const preview = document.getElementById('image-preview');
            const file = input.files[0];
            
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';  // Exibe a imagem
                };
                reader.readAsDataURL(file);
            } else {
                preview.src = '#';
                preview.style.display = 'none';  // Oculta a imagem
            }
        });
    </script>
{% endblock %}
