{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <!-- Cabeçalho -->
    <div class="row mb-3">
        <div class="col-md-12 text-center">
            <h1>Tudo Em Um Só Lugar</h1>
        </div>
    </div>

    <!-- Seção de Produtos -->
    <div class="row">
        {% for produto in produtos %}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card h-100" style="border-radius: 10px;">
                {% if produto.img_produto %}
                    <img src="{{ produto.img_produto.url }}" class="card-img-top" alt="{{ produto.nome_produto }}" style="height: 120px; object-fit: cover; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                {% else %}
                    <img src="{% static 'path/to/placeholder-image.jpg' %}" class="card-img-top" alt="Sem imagem" style="height: 120px; object-fit: cover; border-top-left-radius: 10px; border-top-right-radius: 10px;">
                {% endif %}
                <div class="card-body">
                    <h6 class="card-title">{{ produto.nome_produto }}</h6>
                    <p class="card-text" style="font-size: 0.9rem;">{{ produto.descricao }}</p>
                    <p class="card-text">
                        <span style="color: green; font-weight: bold;">R$ {{ produto.valorComDesconto }}</span>
                        <span style="color: red; text-decoration: line-through;">R$ {{ produto.valorSemDesconto }}</span>
                    </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <form method="post" action="{% url 'adicionar_carrinho' produto.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-sm">Adicionar</button>
                    </form>
                    <a href="{% url 'cadastro_usuario' %}" class="btn btn-primary btn-sm">Comprar</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
